# Dependências
node_modules/

# Builds e relatórios
dist/
dist-ssr/
coverage/

# Cache
.vite/
*.tsbuildinfo

# Variáveis de ambiente locais
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local

# Editores e sistema operacional
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
